<?xml version="1.0" encoding="utf-8"?>
<manifest  xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@drawable/logonew"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logonew"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".newsfull"></activity>
        <activity android:name=".mdweb" />
        <activity android:name=".news"
            android:label="Top Headlines"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>